/* Common */
.section__heading,
.text-accent {
  color: var(--clr-accent);
}
.intro {
  padding-bottom: 2rem;
}
.intro__heading {
  margin-bottom: -1rem;
}
.intro__title {
  color: var(--clr-accent);
}
.intro__picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.aboutme {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  padding: 2rem;
}
.aboutme .section__heading {
  margin-top: 0;
}
.aboutme .section__heading::after {
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent);
}
.stack__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.stack__item img {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.stack__item {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
}
.project-card {
  flex: 1 0 350px;
  background-color: var(--clr-gray);
  color: var(--clr-text-black);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.project-card__heading {
  margin-top: 0;
  margin-bottom: 0;
}
.project-card__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-card__buttons button {
  margin: 0.5rem 0;
}

.contact {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}
.contact h3 {
  padding-top: 1rem;
}
.contact__form div {
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__form label {
  padding-right: 1rem;
  width: 20%;
}
.contact__form input,
.contact__form textarea {
  width: 75%;
  min-height: 2rem;
}
.required::after {
  content: "*";
  color: red;
  padding-left: 2px;
}
.social__links {
  list-style: none;
  display: inline-flex;
  margin: 1rem 2rem;
}
.social__links--item a {
  color: var(--clr-accent);
  padding: 1rem;
}
.btn {
  padding: 1rem;
  border-radius: 25px;
  margin-right: 1rem;
  border: none;
  font-weight: bold;
  background: var(--clr-accent);
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .intro {
    display: grid;
    grid-template-areas:
      "image heading"
      "image title";
    margin-top: 5rem;
  }
  .intro__heading {
    grid-area: heading;
    margin-right: auto;
    margin-left: 5rem;
  }
  .intro__title {
    grid-area: title;
    margin-right: auto;
    margin-left: 5rem;
  }
  .intro__picture {
    margin-left: auto;
    /* margin-right: auto; */
    grid-area: image;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
  .project-card__buttons {
    flex-direction: row;
  }
  .project-card__buttons button {
    margin: 0 0.5rem;
  }
}
